{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Django Video Membership</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/card.css' %}">
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>

	{% include 'courses/messages.html' %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		  </div>
	  
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

			<li><a href="/">Home</a></li>
	        {% if not request.user.is_authenticated %}
	        <li class='pull-right'><a href="{% url 'members:sign_up' %}">Register</a></li>
	        <li class='pull-right'><a href="{% url 'members:login' %}">Login</a></li>
			{% else %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create Content<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="{% url 'courses:article-create' %}">Create an Article</a></li>
				  <li><a href="{% url 'courses:course-create' %}">Create a Course</a></li>
				  <li><a href="{% url 'courses:lesson-create' %}">Create a Lesson</a></li>
				  <li><a href="{% url 'members:create' %}">Create a Membership</a></li>
				  <li><a href="{% url 'members:create-user' %}">Create a User Membership</a></li>
				  <li role="separator" class="divider"></li>
				</ul>
			</li> 
			
			<li><a href="{% url 'courses:article-list' %}">Study Articles</a></li>
			<li><a href="{% url 'members:profile' %}">Profile</a></li>
			<li class='pull-right'><a href="{% url 'members:select' %}">Memberships</a></li>
			<li class='pull-right'><a href="{% url 'members:logout' %}">Logout</a></li>
			{% endif %}
			
			  <!-- <li><a href="#">Link</a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#">Action</a></li>
				  <li><a href="#">Another action</a></li>
				  <li><a href="#">Something else here</a></li>
				  <li role="separator" class="divider"></li>
				  <li><a href="#">Separated link</a></li>
				  <li role="separator" class="divider"></li>
				  <li><a href="#">One more separated link</a></li>
				</ul>
			  </li> -->
			</ul>
			<!-- <form class="navbar-form navbar-left">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
			  <li><a href="#">Link</a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="#">Action</a></li>
				  <li><a href="#">Another action</a></li>
				  <li><a href="#">Something else here</a></li>
				  <li role="separator" class="divider"></li>
				  <li><a href="#">Separated link</a></li>
				</ul>
			  </li>
			</ul> -->
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>

	<div class="container">
		<ol class='breadcrumb'>

	        
	    </ol>
	</div>

    <div class="container">
		{% block content %}

		
        {% endblock content %}
    </div>

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>